body{
    background-color: #18181B;
}

h3{
    color: #F9FAFB;
}

button {
    background-color: #9333EA;
    color: #E4E4E7;
    
}

.cart-item {
    border: 1px solid #27272A;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #27272A;
}

